affine==2.4.0
attrs==23.1.0
branca==0.6.0
Cartopy==0.22.0
cchardet==2.1.7
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorbrewer==0.2.0
contextily==1.4.0
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.5
faust-cchardet==2.1.19
fiona==1.9.5
folium==0.14.0
fonttools==4.43.1
geodatasets==2023.3.0
geographiclib==2.0
geopandas==0.14.0
geopy==2.4.0
idna==3.4
isoweek==1.3.3
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.0
mercantile==1.2.1
networkx==3.2.1
numpy==1.26.1
osmium==3.6.0
osmnx==1.7.1
packaging==23.2
pandas==2.1.1
partridge @ git+https://github.com/remix/partridge.git@c3afb135b42401678bc894bdfef729699f65dd7c
peartree @ git+https://github.com/gutjuri/peartree.git@8d9b57f43a84998c21fda4299f72e00ff3994f49
Pillow==10.0.1
platformdirs==3.11.0
pooch==1.7.0
pyparsing==3.1.1
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2023.3.post1
rasterio==1.3.8.post2
requests==2.31.0
shapely==2.0.2
six==1.16.0
snuggs==1.4.7
tzdata==2023.3
urllib3==2.0.6
xyzservices==2023.10.0
